{% extends "base.html" %}

{% block title %}My Cart{% endblock title %}

{% block style %}
.container-fluid{
margin-top: 90px;
}
{% endblock style%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">

            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>Items in my cart.</h4>
            <table class="table">
                <thead>
                <tr>
                    <td>SN</td>
                    <td>Product</td>
                    <td>Rate</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
                </thead>
                <tbody>
                {% for p_incart in cart.cartproduct_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p_incart.product.title }}</td>
                    <td>{{ p_incart.rate }}</td>
                    <td>{{ p_incart.quantity }}</td>
                    <td>{{ p_incart.subtotal }}</td>
                    <td>
                        <a href="{% url 'ecomapp:managecart' p_incart.product.id %}?action=inc"
                           class="btn btn-sm btn-primary">+</a>
                        <a href="{% url 'ecomapp:managecart' p_incart.product.id %}?action=dec"
                           class="btn btn-sm btn-warning">-</a>
                        <a href="{% url 'ecomapp:managecart' p_incart.product.id %}?action=rmv"
                           class="btn btn-sm btn-danger">x</a>
                    </td>
                </tr>
                {% endfor %}
                <tr class="text-primary font-weight-bold">
                    <th colspan="4" class="text-right">Total</th>
                    <th>Rs. {{ cart.total }}</th>
                    {% if cart.cartproduct_set.all %}
                    <td><a href="{% url 'ecomapp:emptycart' %}">Empty Cart</a></td>
                    {% endif %}
                </tr>
                {% if cart.cartproduct_set.all %}
                <tr>
                    <td><a href="{% url 'ecomapp:checkout' %}" class="btn btn-outline-info">Checkout</a></td>
                </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
