{% extends "admin/adminbase.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Product{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <h3>Create New Product.</h3>
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Create">
                <input type="submit" class="btn btn-info" value="Save and add another">

            </form>
        </div>
    </div>
</div>
{% endblock content %}
